* {
    padding: 0;
    margin: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
    background-color: #fff;
    color: #444;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}
.w600 {
    font-weight: 600;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.wrapper {
    height: 100%;
    width: 100%;
    font-weight: 400;
    margin: 0 auto;
}
.wrapper .menu, .wrapper .content {
    display: inline-block;
}
.wrapper .menu {
    width: 100%;
    background-color: #282828;
}
.wrapper .menu  {
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.imgaes{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}
.wrapper .content h1 {
    padding: 5px 15px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0px;
    color: #007AFF;
}
.wrapper .content .storeIcon {
    padding: 5px 0px 0px 15px;
}
.wrapper .content h2, .wrapper .content h3 {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 15px 5px;
    margin-bottom: 5px;
}
.wrapper .content p {
    margin-bottom: 5px;
    padding: 0px 15px;
    font-size: 0.8em;
}
.wrapper .content .text-blue {
    font-weight: 600;
    color: #007AFF;
}
.wrapper .content .button-wrap {
    text-align: center;
    margin-top: 30px;
    padding: 20px 10px;
}
.wrapper .content .button-wrap div .blue-link {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #007AFF;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 100px;
}
.wrapper .content .button-wrap div a:hover {
    background-color: #00b9fb;
}
.app-store{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 15px;
}

.app-store img{
    margin-right: 10px;
    width: 60px;
}

.app-store span{
    color: #999999;
    font-size: 22px;
}

@media (prefers-color-scheme: light) {
    h1{
        color: #007AFF;
    }

    .blue-text{
        color: #007AFF;
    }

    .blue-link{
        background: #007AFF;
    }

    h1.light-scheme{
        color: #FF3B30;
    }

    .blue-text.light-scheme{
        color: #FF3B30;
    }

    .blue-link.light-scheme{
        background: #FF3B30;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background: #000;
    }
    .steps p{
        color: #fff !important;
    }
    .steps p b{
        color: #fff !important;
    }
    h3{
        color: #fff !important;
    }

    h1{
        color: #007AFF;
    }

    .blue-text{
        color: #007AFF;
    }

    .blue-link{
        background: #007AFF;
    }

    h1.light-scheme{
        color: #FF3B30;
    }

    .blue-text.light-scheme{
        color: #FF3B30;
    }

    .blue-link.light-scheme{
        background: #FF3B30;
    }
}
